<div class="contenedor">
    <div class="opciones">
        <a href="/">
            <img src="/assets/img/logo.png" alt="">
        </a>
        <h2>¿Agricultor o Mayorista?</h2>
      

        <button routerLink="/login-agricultor" mat-button mat-raised-button color="primary"><mat-icon class="icon-button">person</mat-icon>
            <h1>
                Agricultor
            </h1>
        </button>
        <button routerLink="/login-mayorista" mat-button mat-raised-button color="primary" style="margin-top: 10px;"><mat-icon class="icon-button">person</mat-icon>
            <h1>
                Mayorista
            </h1>
        </button>
    </div>
</div>
