
.contenedor{
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opciones{
    width: 80%;
    max-width: 500px;
    height: 500px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow:  11px 11px 22px #e3e3e3,
                 -11px -11px 22px #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;

}

.opciones img{
    width: 100px;
    height: 100px;
}
.opciones a{
    text-decoration: none;
    color: rgb(38, 56, 222);
    font-weight: 500;
}

button{
    width: 80%;
    height: 80%;
    max-width: 500px;
    max-height: 500px;
    align-items: center;
    text-align: center;
}

