    <div class="wrapper">
        <h1>Shopping Cart</h1>
        <div class="project">
            <div class="shop">
                <div class="box">
                    <img src="/assets/img/cart_1.jpg" alt="">
                    <div class="content">
                        <h3>Zanahorias</h3>
                        <h4>Precio: S/.2.00/kg</h4>
                        <p class="unit">Cantidad: <input value="500"> Kg</p>
                        <p class="btn-area">
                            <i class="fa fa-trash"></i>
                            <span class="btn2">Remover</span>
                        </p>
                    </div>
                </div>
                
                <div class="box">
                    <img src="/assets/img/cart_2.jpg" alt="cart_2">
                    <div class="content">
                        <h3>Cebollas</h3>
                        <h4>Precio: S/.1.50/kg</h4>
                        <p class="unit">Cantidad: <input value="600"> Kg</p>
                        <p class="btn-area">
                            <i class="fa fa-trash"></i>
                            <span class="btn2">Remover</span>
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img src="/assets/img/cart_3.jpg" alt="cart_3">
                    <div class="content">
                        <h3>Tomates</h3>
                        <h4>Precio: S/.2.00/kg</h4>
                        <p class="unit">Cantidad: <input value="350"> Kg</p>
                        <p class="btn-area">
                            <i class="fa fa-trash"></i>
                            <span class="btn2">Remover</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="right-bar">
                <p><span>Subtotal</span> <span>S/.2600</span></p>
                <hr>
                <p><span>Impuestos (18%)</span> <span>S/.468</span></p>
                <hr>
                <p><span>Costo de Envio</span> <span>S/.100</span></p>
                <hr>
                <p><span>Total</span> <span>S/.3168</span></p>
                <a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
            </div>
        </div>
    </div>
