.contenedor{
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 80%;
    max-width: 500px;
    height: 500px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow:  11px 11px 22px #e3e3e3,
                 -11px -11px 22px #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;

}

.formulario img{
    width: 100px;
    height: 100px;
}
.formulario a{
    text-decoration: none;
    color: rgb(38, 56, 222);
    font-weight: 500;
}

form{
    display: flex;
    flex-direction: column;
}
.part-form{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}
