<div class="contenedor">
    <div class="formulario">
        <img src="/assets/img/logo.png" alt="" />
        <h2>Bienvenido</h2>
        <p>No tienes una cuenta? <a routerLink="/register">Crea una ahora!</a></p>

        <form class="formulario-inputs">
            <div class="part-form">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput />
                </mat-form-field>
            </div>
            <div class="part-form">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput />
                </mat-form-field>
            </div>
            <div class="part-form">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput />
                </mat-form-field>
            </div>

            <button mat-button mat-raised-button color="primary">Registrarse</button>
        </form>
    </div>
</div>