<mat-toolbar class="main-menu">
    <div>
        <h2>Organic-Market</h2>
    </div>
    <div class="">
        <button mat-button routerLink="/home">Inicio</button>
        <button mat-button>Beneficios</button>
        <button mat-button>Quienes Somos?</button>
        <button mat-button>Planes</button>
        <button mat-button>Testimonios</button>
        <button mat-button>Contacto</button>
    </div>
    <div class="btn btn-app">
        <button mat-button routerLink="/login">Login</button>
        <button mat-button routerLink="/register">Sing Up</button>
    </div>
</mat-toolbar>
