<!--  Nuevo Pedido-->
<div>
  <mat-card clas= "dashboard-card">
    <h2 class="alinear">Registro de Pedido</h2>
    <div class="pedido-container">
      <div>
          <mat-form-field style="margin: 10px;" >
            <mat-label>Mayorista</mat-label>
            <mat-select placeholder="Select Mayorista" [(ngModel)]="idMayoristaSelected">
              <mat-option *ngFor="let m of mayorista" [value]="m.id">
                {{ m.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field style="margin: 10px;">
            <mat-label>Productos</mat-label>
            <mat-select placeholder="Selecciona un Producto" [(ngModel)]="idProductoSelected">
              <mat-option *ngFor="let p of producto" [value]="p.id">
                {{ p.name }} - S/.{{p.unit_price}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field style="margin: 10px;">
            <input matInput placeholder="Cantidad" [(ngModel)]="quantity" />
          </mat-form-field>  
          <button mat-raised-button color="primary" (click)="addDetail()">
            Agregar detalle
          </button>
      </div>  
      <div class="botones" style=>
        <button
          mat-raised-button
          color="primary"
          type="button"
          style="margin: 10px;"
          (click)="savePedido()"
        >
          Aceptar
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          routerLink="/panel-m/pedidos"
        >
          Cancelar
        </button>
      </div>
      <div>
        <mat-expansion-panel *ngFor="let det of details; let i = index;">
          <mat-expansion-panel-header>
            <mat-panel-title> Detalle {{ i + 1 }}  </mat-panel-title>
            <mat-panel-description> {{ det.quantity }}</mat-panel-description>
          </mat-expansion-panel-header>
        
          <button mat-raised-button color="warn" (click)="removeDetail(i)">
            Eliminar
          </button>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-card>
</div>