
.shop{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.box{
    display: flex;
    width: 33.33%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 0%;
    width: 580px;
    margin-right: 10px;
    margin-left: 5px;
    background-color: white;
}
.box img{
    width: 50%;
    object-fit: cover;
}
.project{
    align-items: center;
}
.content{
    padding: 20px;
    position: relative;
    width: 100%;
}
.btn-area{
    position: center;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: rgb(14, 90, 20);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
    font-weight: 60;
}
.btn-area:hover{
    background-color: rgb(64, 158, 212);
    color: #fff;

}
.btn-area i{
    margin-right: 5px;
}
