<div class="wrapper">
    <h1>Shop</h1>
    <div class="buscador">
        Buscar: <input value=""> 
    </div>
    <div class="project">
        <div class="shop">
            <div class="box">
                <img src="/assets/img/cart_1.jpg" alt="">
                <div class="content">
                    <h3>Zanahorias</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2" > Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_2.jpg" alt="cart_2">
                <div class="content">
                    <h3>Cebollas</h3>
                    <h4>Precio: S/.1.50/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_3.jpg" alt="cart_3">
                <div class="content">
                    <h3>Tomates</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>        
            <div class="box">
                <img src="/assets/img/cart_1.jpg" alt="">
                <div class="content">
                    <h3>Zanahorias</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2" > Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_2.jpg" alt="cart_2">
                <div class="content">
                    <h3>Cebollas</h3>
                    <h4>Precio: S/.1.50/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_3.jpg" alt="cart_3">
                <div class="content">
                    <h3>Tomates</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>        
            <div class="box">
                <img src="/assets/img/cart_1.jpg" alt="">
                <div class="content">
                    <h3>Zanahorias</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2" > Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_2.jpg" alt="cart_2">
                <div class="content">
                    <h3>Cebollas</h3>
                    <h4>Precio: S/.1.50/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_3.jpg" alt="cart_3">
                <div class="content">
                    <h3>Tomates</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>        
            <div class="box">
                <img src="/assets/img/cart_1.jpg" alt="">
                <div class="content">
                    <h3>Zanahorias</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2" > Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_2.jpg" alt="cart_2">
                <div class="content">
                    <h3>Cebollas</h3>
                    <h4>Precio: S/.1.50/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_3.jpg" alt="cart_3">
                <div class="content">
                    <h3>Tomates</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>        
            <div class="box">
                <img src="/assets/img/cart_1.jpg" alt="">
                <div class="content">
                    <h3>Zanahorias</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2" > Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_2.jpg" alt="cart_2">
                <div class="content">
                    <h3>Cebollas</h3>
                    <h4>Precio: S/.1.50/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/assets/img/cart_3.jpg" alt="cart_3">
                <div class="content">
                    <h3>Tomates</h3>
                    <h4>Precio: S/.2.00/kg</h4>
                    <p class="unit">Elegir cantidad en carrito</p>
                    <p class="btn-area" routerLink="/cart">
                        <i class="fa fa-cart-arrow-down"></i>
                        <span class="btn2"> Añadir al carrito </span>
                    </p>
                </div>
            </div>        
            
        </div>
    </div>
</div>

