
<section class="banner-parallax banner-principal" >
    <div class="banner" id="banner"></div>
    <div class="texto-banner" id="site-type">
      <h2>Obten los mejores productos al mejor precio
      </h2>
      <h1 class="typewrite" id="TituloLanding"><span>Agricultores</span></h1>
      <button mat-button class="scroll-suave" routerLink="/register">Registrar</button>
    </div>
    <div>
      <img src="/assets/img/campo.png" class="campo" id="campo" alt="">
      <img src="/assets/img/montañas.png" class="montañas" id="montañas" alt="">
      <img src="/assets/img/Sol-nubes.png" class="sol" id="sol" alt="">
      <img src="/assets/img/rama.png" class="rama" id="rama" alt="">
      <img src="/assets/img/Agricultor.png" class="agricultor" id="agricultor" alt="">
    </div>
  </section>
  <section class="beneficios" id="beneficios">
    <div class="contenedor">
      <div class="titulo-seccion">
        <h2>Beneficios</h2>
        <img src="" alt="">
      </div>
      <div class="video-beneficio">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/5WE9kKNof-M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>BRINDAMOS UNA PLATAFORMA DE COMERCIO Y TE CONTACTAMOS CON COMPRADORES POTENCIALES.</h3>
      </div>
      <div class="beneficios-items">
       <div class="bene-item">
        <img src="/assets/img/beneficio1.jpg" alt="">
        <a  class="btn">Comprar</a>
       </div>
       <div class="bene-item">
        <img src="/assets/img/beneficio2.jpg" alt="">
        <a class="btn">Vender</a>
       </div>
       <div class="bene-item">
        <img src="/assets/img/beneficio3.png" alt="">
        <a class="btn">Crecer</a>
       </div>
      </div>
    </div>      
  </section>
  <section class="nosotros" id="acercaDe">
    <div class="contenedor">
    <div class="titulo-seccion">
      <h2>¿Quienes Somos?</h2>
      <p>Un equipo innovador creador de una plataforma web, los agricultores podrán promocionar sus 
        productos, interactuar con mayoristas interesados y proveedores, y con ello 
        permitirles tener una mejor organización y planificación sobre la producción de sus cultivos.</p>
    </div>
    <div class="nosotros-perfiles">
      <div class="perfil">
        <img src="/assets/img/perfil1.png" class="img-p1" alt="">
        <h2 class="name-p1">Luis Broncano</h2>
        <button  mat-button >Conocer mas</button>
      </div>
      <div class="perfil">
        <img src="/assets/img/perfil3.png" class="img-p3" alt="">
        <h2 class="name-p3">Antony Ortega</h2>
        <button  mat-button >Conocer mas</button>
      </div>
      <div class="perfil">
        <img src="/assets/img/perfil5.png" class="img-p5" alt="">
        <h2 class="name-p5">Diego Alban</h2>
        <button mat-button >Conocer mas</button>
      </div>
    </div>
  </div>
  </section>
  <section class="planes" id="planes">
    <div class="contenedor">
      <div class="titulo-seccion">
        <h2>Planes</h2>
        <p>Contamos con los mejores planes de suscripcion para nuestros 2 usuarios</p>
      </div>
      <div class="planes-info">
        <div class="plan-completo">
            <img src="/assets/img/plan-agricultor.png" alt="">
          <div class="plan">
            <h2>PLAN AGRICULTOR</h2>
            <div class="m-4">
              <div class="checklinea">
                  <i class="fa fa-check"></i><p>Acceso a Organic Market</p> 
              </div>
              <div class="checklinea">
                  <i class="fa fa-check"></i><p>Creacion de su perfil de usuario</p> 
              </div>
              <div class="checklinea">
                  <i class="fa fa-check"></i><p>Ofrecer sus productos</p> 
              </div>

              <div class="checklinea">
                  <i class="fa fa-check"></i><p>Contactar con mayoristas interesados</p> 
              </div>
              <div class="checklinea">
                <i class="fa fa-check"></i><p>Realizar la venta de manera online</p> 
              </div>
              <div class="checklinea">
                <i class="fa fa-check"></i><p>Comision del 3% por venta realizada.</p> 
              </div>
            </div>

            <div class="text-center m-5">
              <a routerLink="/register" id="free-a">Empezar ahora</a>
            </div>
          </div>
        </div>

        <div class="plan-completo">
            <img src="/assets/img/plan-mayorista.png" alt="">
        
          <div class="plan">
            <h2>PLAN MAYORISTA</h2>
            <div class="m-4 ">
              <div class="checklinea">
                  <i class="fa fa-check"></i> <p>Acceso a Organic Market</p>
              </div>
              <div class="checklinea">
                  <i class="fa fa-check"></i> <p>Creacion de su perfil de usuario</p> 
              </div>
              <div class="checklinea">
                  <i class="fa fa-check"></i> <p>Visualizar productos ofertados.</p>
              </div>
              <div class="checklinea">
                  <i class="fa fa-check"></i> <p>Filtrar los productos</p> 
              </div>
              <div class="checklinea">
                <i class="fa fa-check"></i> <p>Contactar con el proveedor</p> 
              </div>
              <div class="checklinea">
                <i class="fa fa-check"></i> <p>Realizar la compra de manera online</p> 
              </div>
              <div class="checklinea">
                <i class="fa fa-check"></i> <p>Costo mensual de S/.10.00</p> 
              </div>
          </div>
          <div class="text-center m-5">
            <a routerLink="/register" id="pay-a">Empezar ahora</a>
          </div>
          </div>
        </div>
       
      </div>
    </div>
  </section>