<div class="contenedor">
    <div class="formulario">
        <img src="/assets/img/logo.png" alt="">
        <h2>Bienvenido</h2>
        <p>No tienes una cuenta? <a routerLink="/register">Crea una ahora!</a></p>
        
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="formulario-inputs">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input  formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide?'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button  mat-button mat-raised-button color="primary"><mat-icon class="icon-button">person</mat-icon>Ingresar</button>
        </form>
    </div>
</div>