.container-perfil{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 60vh;
}

.header-perfil{
    text-align: center;
}

.header-perfil img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    background: #ffffff;
    box-shadow:  5px 5px 20px #ededed,
             -5px -5px 20px #ffffff;
}

