<div class="container">
    <h1>Perfil</h1>
    <div class="container-perfil">
        <div class="header-perfil">
            <img src="/assets/img/perfil1.png" alt="">
        </div>
        <h1>{{ user.name }}</h1>
    
        <div class="body-perfil">
            <form [formGroup]="myForm" *ngIf="myForm" autocomplete="off">
                <div class="col-lg-12">
                  <mat-form-field class="example-container">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" />
                  </mat-form-field>
                  <div
                    *ngIf="
                      myForm.get('name')?.hasError('required') &&
                      myForm.get('name')?.touched
                    "
                    style="margin-top: -20px"
                  >
                    <span class="mda-form-msg"> Este campo es obligatorio </span>
                  </div>
                  <div
                    *ngIf="myForm.get('name')?.hasError('maxlength')"
                    style="margin-top: -20px"
                  >
                    <span class="mda-form-msg">
                      Este campo debe tener como máximo 60 caracteres
                    </span>
                  </div>
                </div>
                <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="lastname" />
                  </mat-form-field>
                  <div
                    *ngIf="
                      myForm.get('lastname')?.hasError('required') &&
                      myForm.get('lastname')?.touched
                    "
                    style="margin-top: -20px"
                  >
                    <span class="mda-form-msg"> Este campo es obligatorio </span>
                  </div>
                  <div
                    *ngIf="myForm.get('lastname')?.hasError('maxlength')"
                    style="margin-top: -20px"
                  >
                    <span class="mda-form-msg">
                      Este campo debe tener como máximo 60 caracteres
                    </span>
                  </div>
                </div>
          
                <div class="col-lg-12">
                  <mat-form-field class="example-container">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="email" />
                  </mat-form-field>
                  <div
                    *ngIf="
                      myForm.get('email')?.hasError('required') &&
                      myForm.get('email')?.touched
                    "
                    style="margin-top: -20px"
                  >
                    <span class="mda-form-msg"> Este campo es obligatorio </span>
                  </div>
                  <div
                    *ngIf="myForm.get('email')?.hasError('email')"
                    style="margin-top: -20px"
                  >
                    <span class="mda-form-msg">
                      Este campo no tiene formato de correo
                    </span>
                  </div>
                </div>

                <div class="col-lg-12">
                  <mat-form-field class="example-container">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" />
                  </mat-form-field>
                  <div
                    *ngIf="
                      myForm.get('password')?.hasError('required') &&
                      myForm.get('password')?.touched
                    "
                    style="margin-top: -20px"
                  >
                    <span class="mda-form-msg"> Este campo es obligatorio </span>
                  </div>
                </div>
          
                <div class="col-lg-12">
                  <router-outlet></router-outlet>
                  <!-- <button mat-raised-button
                    class="btn btn-success btn-lg float-right"
                    [disabled]="myForm.invalid"
                    type="button"
                    style="margin-left: 10 px"
                    (click)="updateUser()"
                    routerLink="/panel"
                  >
                    Editar Perfil
                  </button> -->
                </div>
              </form>
        </div>
    </div>
</div>