table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  button{
    margin: 5px 5px;
  }
  
  button:hover{
    background-color: rgb(0, 0, 0);
    transition: 300ms;
  }
  
  ul li {
    list-style: none;
  }
  
  .alinear {
    text-align: center;
    margin-top: 20px;
  }
  
  mat-form-field {
    width: 140%;
  }
  
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 6%;
  }
  

  